{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
      <!-- 
      - primary meta tags
    -->
      <title>Sabor Peruano - Rica &amp; Deliciosa Comida</title>
      <meta name="title" content="Grilli - Amazing &amp; Delicious Food" />
      <meta
        name="description"
        content="This is a Restaurant html template made by codewithsadee"
      />
  
      <!-- 
      - favicon
    -->
      <link
        rel="shortcut icon"
        href="{% static './favicon.svg' %}"
        type="image/svg+xml"
      />
  
      <!-- 
      - google font link
    -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
      <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&amp;family=Forum&amp;display=swap"
        rel="stylesheet"
      />
  
      <!-- 
      - custom css link
    -->
      <link rel="stylesheet" href="{% static './assets/css/style.css' %}" />
  
      <!-- 
      - preload images
    -->
    </head>


<body onload="parent.scrollTo(0,0);">



  <section class="section  text-center" aria-labelledby="dish-label">
    <div class="container">
      
      <div class="form reservation-formtwo bg-black-10">
        <form method="POST" class="form-left" action="">
          {% csrf_token %}
          
          <br>
          <h2 class="headline-1 text-center">Crear Pedido</h2>

          <br>
          <input type="text" class="input-field" name="nom_plato" placeholder="Nombre de Plato">
          <input type="text" class="input-field" name="desc_pedido" placeholder="Descripción de Pedido">
          <input type="text" class="input-field" name="pedido_estado" placeholder="Estado de Pedido">
          <br>

          <input type="submit" class="btn" value="Ingresar Plato">
          <br>
          <a href="{% url 'sistema:fun admin' %}" class="btn">Regresar a la lista</a> 
        </form>
      </div>
      
    </div>
  </section>
</body>
</html>