{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 
    - primary meta tags
  -->
    <title>Sabor Peruano - Rica &amp; Deliciosa Comida</title>
    <meta name="title" content="Grilli - Amazing &amp; Delicious Food" />
    <meta
      name="description"
      content="This is a Restaurant html template made by codewithsadee"
    />

    <!-- 
    - favicon
  -->
    <link
      rel="shortcut icon"
      href="{% static './favicon.svg' %}"
      type="image/svg+xml"
    />

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&amp;family=Forum&amp;display=swap"
      rel="stylesheet"
    />

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="{% static './assets/css/style.css' %}" />

    <!-- 
    - preload images
  -->
    <link
      rel="preload"
      as="image"
      href="{% static './assets/images/hero-slider-1.jpg' %}"
    />
    <link
      rel="preload"
      as="image"
      href="{% static './assets/images/hero-slider-2.jpg' %}"
    />
    <link
      rel="preload"
      as="image"
      href="{% static './assets/images/hero-slider-3.jpg' %}"
    />
  </head>

  <body id="top">
    <!-- 
    - #PRELOADER
  -->

    <div class="preload" data-preaload="">
      <div class="circle"></div>
      <p class="text">Sabor Peruano</p>
    </div>

    <!-- 
    - #TOP BAR
  -->

    <div class="topbar">
      <div class="container">
        <address class="topbar-item">
          <div class="icon">
            <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
          </div>

          <span class="span">
            Restaurant Sabor Peruano, Chacabuco #151, Copiapó
          </span>
        </address>

        <div class="separator"></div>

        <div class="topbar-item item-2">
          <div class="icon">
            <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
          </div>

          <span class="span">Atención : 12:00 pm a 17:00 pm</span>
        </div>

        <a href="tel:+11234567890" class="topbar-item link">
          <div class="icon">
            <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
          </div>

          <span class="span">+56 9 89953909</span>
        </a>

        <div class="separator"></div>

        <a href="mailto:saborperuano@restaurant.com" class="topbar-item link">
          <div class="icon">
            <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
          </div>

          <span class="span">saborperuano@restaurant.com</span>
        </a>
      </div>
    </div>

    <!-- 
    - #HEADER
  -->

    <header class="header" data-header="">
      <div class="container">
        <a href="#" class="logo">
          <img
            src="{% static './assets/images/222.png' %}"
            width="270"
            height="100"
            alt="Grilli - Home"
          />
        </a>

        <nav class="navbar" data-navbar="">
          <button class="close-btn" aria-label="close menu" data-nav-toggler="">
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>

          <a href="#" class="logo">
            <img
              src="{% static './assets/images/222.png' %}"
              width="160"
              height="50"
              alt="Sabor peruano - Inicio"
            />
          </a>

          <ul class="navbar-list">
            <li class="navbar-item">
              <a href="#home" class="navbar-link hover-underline active">
                <div class="separator"></div>

                <span class="span">Inicio</span>
              </a>
            </li>

            <li class="navbar-item">
              <a href="#menu" class="navbar-link hover-underline">
                <div class="separator"></div>

                <span class="span">Menú</span>
              </a>
            </li>

            <li class="navbar-item">
              <a href="#about" class="navbar-link hover-underline">
                <div class="separator"></div>

                <span class="span">Sobre nosotros</span>
              </a>
            </li>

            <li class="navbar-item">
              <a href="#reservation" class="navbar-link hover-underline">
                <div class="separator"></div>

                <span class="span">Contacto</span>
              </a>
            </li>
          </ul>

          <div class="text-center">
            <p class="headline-1 navbar-title">Visit Us</p>

            <address class="body-4">
              Restaurant Sabor Peruano, Chacabuco #151, <br />
              Copiapó
            </address>

            <p class="body-4 navbar-text">Open: 9.30 am - 2.30pm</p>

            <a href="mailto:booking@grilli.com" class="body-4 sidebar-link"
              >saborperuano@restaurant.com</a
            >

            <div class="separator"></div>

            <p class="contact-label">Reserva</p>

            <a
              href="tel:+88123123456"
              class="body-1 contact-number hover-underline"
            >
              +56 9 89953909
            </a>
          </div>
        </nav>

        <a href="#reservation" class="btn btn-secondary">
          <span class="text text-1">Reserva de mesa</span>

          <span class="text text-2" aria-hidden="true">Reserva de mesa</span>
        </a>

        <button class="nav-open-btn" aria-label="open menu" data-nav-toggler="">
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
        </button>

        <div class="overlay" data-nav-toggler="" data-overlay=""></div>
      </div>
    </header>

    <main>
      <article>
        <!-- 
        - #HERO
      -->

        <section class="hero text-center" aria-label="home" id="home">
          <ul class="hero-slider" data-hero-slider="">
            <li class="slider-item active" data-hero-slider-item="">
              <div class="slider-bg">
                <img
                  src="{% static './assets/images/hero-slider-1.jpg' %}"
                  width="1880"
                  height="950"
                  alt=""
                  class="img-cover"
                />
              </div>

              <p class="label-2 section-subtitle slider-reveal">
                Tradicional &amp; criollo
              </p>

              <h1 class="display-1 hero-title slider-reveal">
                La mejor gastronomía <br />
                Peruana
              </h1>

              <p class="body-2 hero-text slider-reveal">
                Ven con tu familia y disfruta de la deliciosa comida peruana
              </p>

              <a href="#menu" class="btn btn-primary slider-reveal">
                <span class="text text-1">Mira nuestro menú</span>

                <span class="text text-2" aria-hidden="true"
                  >Mira nuestro menú</span
                >
              </a>
            </li>

            <li class="slider-item" data-hero-slider-item="">
              <div class="slider-bg">
                <img
                  src="{% static './assets/images/hero-slider-2.jpg' %}"
                  width="1880"
                  height="950"
                  alt=""
                  class="img-cover"
                />
              </div>

              <p class="label-2 section-subtitle slider-reveal">
                Experiencia encantadora
              </p>

              <h1 class="display-1 hero-title slider-reveal">
                Sabores inspirados en <br />
                la cultura peruana
              </h1>

              <p class="body-2 hero-text slider-reveal">
                Ven con tu familia y disfruta de la deliciosa comida peruana
              </p>

              <a href="#menu" class="btn btn-primary slider-reveal">
                <span class="text text-1">Mira nuestro menú</span>

                <span class="text text-2" aria-hidden="true"
                  >Mira nuestro menú</span
                >
              </a>
            </li>

            <li class="slider-item" data-hero-slider-item="">
              <div class="slider-bg">
                <img
                  src="{% static './assets/images/hero-slider-3.jpg' %}"
                  width="1880"
                  height="950"
                  alt=""
                  class="img-cover"
                />
              </div>

              <p class="label-2 section-subtitle slider-reveal">
                Rico &amp; delicioso
              </p>
              <h1 class="display-1 hero-title slider-reveal">
                Donde cada sabor <br />
                tiene una historia
              </h1>

              <p class="body-2 hero-text slider-reveal">
                Ven con tu familia y disfruta de la deliciosa comida peruana
              </p>

              <a href="#menu" class="btn btn-primary slider-reveal">
                <span class="text text-1">Mira nuestro menú</span>

                <span class="text text-2" aria-hidden="true"
                  >Mira nuestro menú</span
                >
              </a>
            </li>
          </ul>

          <button
            class="slider-btn prev"
            aria-label="slide to previous"
            data-prev-btn=""
          >
            <ion-icon name="chevron-back"></ion-icon>
          </button>

          <button
            class="slider-btn next"
            aria-label="slide to next"
            data-next-btn=""
          >
            <ion-icon name="chevron-forward"></ion-icon>
          </button>

          <a href="#reservation" class="hero-btn has-after">
            <img
              src="{% static './assets/images/hero-icon.png' %}"
              width="48"
              height="48"
              alt="booking icon"
            />

            <span class="label-2 text-center span">Reserva de mesa</span>
          </a>
        </section>

        <!-- 
        - #SERVICE
      -->

        <section
          class="section service bg-black-10 text-center"
          aria-label="service"
        >
          <div class="container">
            <p class="section-subtitle label-2">Sabores del más allá</p>

            <h2 class="headline-1 section-title">Ofrecemos la mejor calidad</h2>

            <p class="section-text">
              Nuestro equipo de chefs talentosos trabaja incansablemente para
              presentar una carta innovadora que celebra la diversidad de
              sabores y técnicas culinarias.
            </p>

            <ul class="grid-list">
              <li>
                <div class="service-card">
                  <a href="#menu" class="has-before hover:shine">
                    <figure
                      class="card-banner img-holder"
                      style="--width: 285; --height: 336;"
                    >
                      <img
                        src="{% static './assets/images/service-1.jpg' %}"
                        width="285"
                        height="336"
                        loading="lazy"
                        alt="Breakfast"
                        class="img-cover"
                      />
                    </figure>
                  </a>

                  <div class="card-content">
                    <h3 class="title-4 card-title">
                      <a href="#menu">Caldos </a>
                    </h3>

                    <a href="#menu" class="btn-text hover-underline label-2"
                      >Ver menú</a
                    >
                  </div>
                </div>
              </li>

              <li>
                <div class="service-card">
                  <a href="#menu" class="has-before hover:shine">
                    <figure
                      class="card-banner img-holder"
                      style="--width: 285; --height: 336;"
                    >
                      <img
                        src="{% static './assets/images/service-2.jpg' %}"
                        width="285"
                        height="336"
                        loading="lazy"
                        alt="Appetizers"
                        class="img-cover"
                      />
                    </figure>
                  </a>

                  <div class="card-content">
                    <h3 class="title-4 card-title">
                      <a href="#">Especiales</a>
                    </h3>

                    <a href="#menu" class="btn-text hover-underline label-2"
                      >Ver menú</a
                    >
                  </div>
                </div>
              </li>

              <li>
                <div class="service-card">
                  <a href="#menu" class="has-before hover:shine">
                    <figure
                      class="card-banner img-holder"
                      style="--width: 285; --height: 336;"
                    >
                      <img
                        src="{% static './assets/images/service-3.jpg' %}"
                        width="285"
                        height="336"
                        loading="lazy"
                        alt="Drinks"
                        class="img-cover"
                      />
                    </figure>
                  </a>

                  <div class="card-content">
                    <h3 class="title-4 card-title">
                      <a href="#">Pescados</a>
                    </h3>

                    <a href="#menu" class="btn-text hover-underline label-2"
                      >Ver menú</a
                    >
                  </div>
                </div>
              </li>
            </ul>

            <img
              src="{% static './assets/images/shape-1.png' %}"
              width="246"
              height="412"
              loading="lazy"
              alt="shape"
              class="shape shape-1 move-anim"
            />
            <img
              src="{% static './assets/images/shape-2.png' %}"
              width="343"
              height="345"
              loading="lazy"
              alt="shape"
              class="shape shape-2 move-anim"
            />
          </div>
        </section>

        <!-- 
        - #ABOUT
      -->

        <section
          class="section about text-center"
          aria-labelledby="about-label"
          id="about"
        >
          <div class="container">
            <div class="about-content">
              <p class="label-2 section-subtitle" id="about-label">
                Nuestra historia
              </p>

              <h2 class="headline-1 section-title">
                Todos los sabores tienen una historia
              </h2>

              <p class="section-text">
                "Nuestra Historia" se teje con los hilos de las tradiciones
                culinarias peruanas. Cada plato que presentamos es una página de
                nuestro legado, una conexión directa con los sabores que han
                sido transmitidos de generación en generación.
              </p>
              <p></p>
              <div class="contact-label">Reservar a través de llamada</div>
              <p></p>
              <a
                href="tel:+804001234567"
                class="body-1 contact-number hover-underline"
                >+56 9 89953909</a
              >
            </div>

            <figure class="about-banner">
              <img
                src="{% static './assets/images/about-banner.jpg' %}"
                width="770"
                height="670"
                loading="lazy"
                alt="about banner"
                class="w-100"
                data-parallax-item=""
                data-parallax-speed="1"
              />

              <div
                class="abs-img abs-img-1 has-before"
                data-parallax-item=""
                data-parallax-speed="1.75"
              >
                <img
                  src="{% static './assets/images/about-abs-image.jpg' %}"
                  width="285"
                  height="285"
                  loading="lazy"
                  alt=""
                  class="w-100"
                />
              </div>

              <div class="abs-img abs-img-2 has-before">
                <img
                  src="{% static './assets/images/badge-2.png' %}"
                  width="133"
                  height="134"
                  loading="lazy"
                  alt=""
                />
              </div>
            </figure>

            <img
              src="{% static './assets/images/shape-3.png' %}"
              width="197"
              height="194"
              loading="lazy"
              alt=""
              class="shape"
            />
          </div>
        </section>

        <!-- 
        - #SPECIAL DISH
      -->

        <section class="special-dish text-center" aria-labelledby="dish-label">
          <div class="special-dish-banner">
            <img
              src="{% static './assets/images/special-dish-banner.jpg' %}"
              width="940"
              height="900"
              loading="lazy"
              alt="special dish"
              class="img-cover"
            />
          </div>

          <div class="special-dish-content bg-black-10">
            <div class="container">
              <img
                src="{% static './assets/images/badge-1.png' %}"
                width="28"
                height="41"
                loading="lazy"
                alt="badge"
                class="abs-img"
              />

              <p class="section-subtitle label-2">Plato especial</p>

              <h2 class="headline-1 section-title">Lomo Saltado</h2>

              <p class="section-text">
                Combina tiernos trozos de lomo de res con cebolla roja, tomate y
                ají amarillo, salteados a la perfección. La mezcla de especias y
                el toque fresco de cilantro crean una experiencia única.
                ¡Sumérgete en este festín de sabores auténticos!
              </p>

              <div class="wrapper">
                <del class="del body-3">$12.000</del>

                <span class="span body-1">$9.000</span>
              </div>

              <a href="#menu" class="btn btn-primary">
                <span class="text text-1">Ver todo el menú</span>

                <span class="text text-2" aria-hidden="true"
                  >Ver todo el menú</span
                >
              </a>
            </div>
          </div>

          <img
            src="{% static './assets/images/shape-4.png' %}"
            width="179"
            height="359"
            loading="lazy"
            alt=""
            class="shape shape-1"
          />

          <img
            src="{% static './assets/images/shape-9.png' %}"
            width="351"
            height="462"
            loading="lazy"
            alt=""
            class="shape shape-2"
          />
        </section>

        <!-- 
        - #MENU
      -->

        <section class="section menu" aria-label="menu-label" id="menu">
          <div class="container">
            <p class="section-subtitle text-center label-2">
              Selección Especial
            </p>

            <h2 class="headline-1 section-title text-center">Extras</h2>

            <ul class="grid-list">
              <li>
                <div class="menu-card hover:card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 100; --height: 100;"
                  >
                    <img
                      src="{% static './assets/images/menu-1.png' %}"
                      width="100"
                      height="100"
                      loading="lazy"
                      alt="Greek Salad"
                      class="img-cover"
                    />
                  </figure>

                  <div>
                    <div class="title-wrapper">
                      <h3 class="title-3">
                        <a href="#" class="card-title">Pollo Broaster</a>
                      </h3>

                      <span class="badge label-1">Más popular</span>

                      <span class="span title-2">$7.000</span>
                    </div>

                    <p class="card-text label-1">
                      Pollo crocante acompañado de papas crujientes, arroz y
                      ensalada con sus salsas hechas a medida.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="menu-card hover:card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 100; --height: 100;"
                  >
                    <img
                      src="{% static './assets/images/menu-2.png' %}"
                      width="100"
                      height="100"
                      loading="lazy"
                      alt="Lasagne"
                      class="img-cover"
                    />
                  </figure>

                  <div>
                    <div class="title-wrapper">
                      <h3 class="title-3">
                        <a href="#" class="card-title">Lomo Saltado</a>
                      </h3>

                      <span class="span title-2">$9.000</span>
                    </div>

                    <p class="card-text label-1">
                      Tiernos trozos de lomo de res con cebolla roja, tomate y
                      ají amarillo, salteados a la perfección. La mezcla de
                      especias y un toque fresco de cilantro.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="menu-card hover:card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 100; --height: 100;"
                  >
                    <img
                      src="{% static './assets/images/menu-3.png' %}"
                      width="100"
                      height="100"
                      loading="lazy"
                      alt="Butternut Pumpkin"
                      class="img-cover"
                    />
                  </figure>

                  <div>
                    <div class="title-wrapper">
                      <h3 class="title-3">
                        <a href="#" class="card-title">Fideos Saltados</a>
                      </h3>

                      <span class="span title-2">$9.000</span>
                    </div>

                    <p class="card-text label-1">
                      Fideos de trigo salteados con verduras frescas y tiernos
                      trozos de lomo de res, sazonado con la inconfundible
                      mezcla de especias peruanas.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="menu-card hover:card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 100; --height: 100;"
                  >
                    <img
                      src="{% static './assets/images/menu-4.png' %}"
                      width="100"
                      height="100"
                      loading="lazy"
                      alt="Tokusen Wagyu"
                      class="img-cover"
                    />
                  </figure>

                  <div>
                    <div class="title-wrapper">
                      <h3 class="title-3">
                        <a href="#" class="card-title">Sudado de Pescado</a>
                      </h3>

                      <span class="badge label-1">Nuevo</span>

                      <span class="span title-2">$12.000</span>
                    </div>

                    <p class="card-text label-1">
                      Pescado entero, cocido a la perfección en un caldo sabroso
                      de tomate, cebolla, ají y hierbas frescas.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="menu-card hover:card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 100; --height: 100;"
                  >
                    <img
                      src="{% static './assets/images/menu-5.png' %}"
                      width="100"
                      height="100"
                      loading="lazy"
                      alt="Olivas Rellenas"
                      class="img-cover"
                    />
                  </figure>

                  <div>
                    <div class="title-wrapper">
                      <h3 class="title-3">
                        <a href="#" class="card-title">Arroz Chaufa</a>
                      </h3>

                      <span class="span title-2">$9.000</span>
                    </div>

                    <p class="card-text label-1">
                      Arroz salteado con trozos jugosos de lomo de res,
                      salchichas chinas, cebolla, huevo, y vegetales frescos.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="menu-card hover:card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 100; --height: 100;"
                  >
                    <img
                      src="{% static './assets/images/menu-6.png' %}"
                      width="100"
                      height="100"
                      loading="lazy"
                      alt="Opu Fish"
                      class="img-cover"
                    />
                  </figure>

                  <div>
                    <div class="title-wrapper">
                      <h3 class="title-3">
                        <a href="#" class="card-title">Chicharrón de Pescado</a>
                      </h3>

                      <span class="span title-2">$9.000</span>
                    </div>

                    <p class="card-text label-1">
                      Crujientes trozos de pescado, acompañados de yuca dorada y
                      crujiente, fresca ensalada de cebolla morada con rodajas
                      de rocoto picado y un toque de cilantro.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="menu-card hover:card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 100; --height: 100;"
                  >
                    <img
                      src="{% static './assets/images/menu-7.png' %}"
                      width="100"
                      height="100"
                      loading="lazy"
                      alt="Lasagne"
                      class="img-cover"
                    />
                  </figure>

                  <div>
                    <div class="title-wrapper">
                      <h3 class="title-3">
                        <a href="#" class="card-title">Seco de Res</a>
                      </h3>

                      <span class="span title-2">$40.00</span>
                    </div>

                    <p class="card-text label-1">
                      Trozos tiernos de carne de res cocidos lentamente en una
                      exquisita mezcla de ají panca, ajo y hierbas aromáticas.
                      Servido sobre una cama de arroz y porotos que absorben los
                      sabores.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="menu-card hover:card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 100; --height: 100;"
                  >
                    <img
                      src="{% static './assets/images/menu-8.png' %}"
                      width="100"
                      height="100"
                      loading="lazy"
                      alt="Lasagne"
                      class="img-cover"
                    />
                  </figure>

                  <div>
                    <div class="title-wrapper">
                      <h3 class="title-3">
                        <a href="#" class="card-title">Ceviche de Pascado</a>
                      </h3>

                      <span class="span title-2">$12.000</span>
                    </div>

                    <p class="card-text label-1">
                      Pescado fresco cortado en cubos y marinado en limón, ají
                      amarillo y cilantro, con la frescura añadida de cebolla
                      morada y maíz cancha.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="menu-card hover:card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 100; --height: 100;"
                  >
                    <img
                      src="{% static './assets/images/menu-9.png' %}"
                      width="100"
                      height="100"
                      loading="lazy"
                      alt="Lasagne"
                      class="img-cover"
                    />
                  </figure>

                  <div>
                    <div class="title-wrapper">
                      <h3 class="title-3">
                        <a href="#" class="card-title">Ají de Gallina</a>
                      </h3>

                      <span class="span title-2">$7.000</span>
                    </div>

                    <p class="card-text label-1">
                      Jugosos trozos de pollo desmenuzado en una cremosa salsa
                      de ají amarillo, nueces, queso y pan remojado.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="menu-card hover:card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 100; --height: 100;"
                  >
                    <img
                      src="{% static './assets/images/menu-10.png' %}"
                      width="100"
                      height="100"
                      loading="lazy"
                      alt="Lasagne"
                      class="img-cover"
                    />
                  </figure>

                  <div>
                    <div class="title-wrapper">
                      <h3 class="title-3">
                        <a href="#" class="card-title">Caldo de Gallina</a>
                      </h3>

                      <span class="span title-2">$7.000</span>
                    </div>

                    <p class="card-text label-1">
                      Jugosa presa de gallina cocida a fuego lento, acompañada
                      de fideos, verduras frescas y hierbas aromáticas.
                    </p>
                  </div>
                </div>
              </li>
            </ul>

            <p class="menu-text text-center">
              Menú de lunes a viernes, consulta el menú del día llamando a este
              número: <span class="span">+56 9 89953909.</span>
            </p>

            <img
              src="{% static './assets/images/shape-5.png' %}"
              width="921"
              height="1036"
              loading="lazy"
              alt="shape"
              class="shape shape-2 move-anim"
            />
            <img
              src="{% static './assets/images/shape-6.png' %}"
              width="343"
              height="345"
              loading="lazy"
              alt="shape"
              class="shape shape-3 move-anim"
            />
          </div>
        </section>

        <!-- 
        - #TESTIMONIALS
      -->

        <section
          class="section testi text-center has-bg-image"
          style="background-image: url('./assets/images/testimonial-bg.jpg')"
          aria-label="testimonials"
        >
          <div class="container">
            <div class="quote">”</div>

            <p class="headline-2 testi-text">
              Me encantó disfrutar de la gastronomía peruana, fue mi primera ves
              probándola y no me arrepiento de nada, la comida fue
              extraordinaria.
            </p>

            <div class="wrapper">
              <div class="separator"></div>
              <div class="separator"></div>
              <div class="separator"></div>
            </div>

            <div class="profile">
              <img
                src="{% static './assets/images/testi-avatar.jpg' %}"
                width="100"
                height="100"
                loading="lazy"
                alt="Sam Jhonson"
                class="img"
              />

              <p class="label-2 profile-name">Yohan Amario</p>
            </div>
          </div>
        </section>

        <!-- 
        - #RESERVATION
      -->

        <section class="reservation" id="reservation">
          <div class="container">
            <div class="form reservation-form bg-black-10">
              <form action="" class="form-left">
                {% csrf_token %}

                <h2 class="headline-1 text-center">Reserva Online</h2>

                <p class="form-text text-center">
                  Reserva llamando a este número
                  <a href="tel:+56989953909" class="link">+56 9 89953909</a>
                  o rellena este formulario.
                </p>

                <div class="input-wrapper">
                  <input
                    type="text"
                    name="name"
                    placeholder="Nombre"
                    autocomplete="off"
                    class="input-field"
                  />

                  <input
                    type="tel"
                    name="phone"
                    placeholder="Teléfono"
                    autocomplete="off"
                    class="input-field"
                  />
                </div>

                <div class="input-wrapper">
                  <div class="icon-wrapper">
                    <ion-icon
                      name="person-outline"
                      aria-hidden="true"
                    ></ion-icon>

                    <select name="person" class="input-field">
                      <option value="1-person">1 Persona</option>
                      <option value="2-person">2 Personas</option>
                      <option value="3-person">3 Personas</option>
                      <option value="4-person">4 Personas</option>
                      <option value="5-person">5 Personas</option>
                      <option value="6-person">6 Personas</option>
                      <option value="7-person">7 Personas</option>
                    </select>

                    <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                  </div>

                  <div class="icon-wrapper">
                    <ion-icon
                      name="calendar-clear-outline"
                      aria-hidden="true"
                    ></ion-icon>

                    <input
                      type="date"
                      name="reservation-date"
                      class="input-field"
                    />

                    <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                  </div>

                  <div class="icon-wrapper">
                    <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                    <select name="person" class="input-field">
                      <option value="011:00am">11 : 00 am</option>
                      <option value="012:00am">12 : 00 am</option>
                      <option value="01:00pm">01 : 00 pm</option>
                      <option value="02:00pm">02 : 00 pm</option>
                      <option value="03:00pm">03 : 00 pm</option>
                      <option value="04:00pm">04 : 00 pm</option>
                      <option value="05:00pm">05 : 00 pm</option>
                    </select>

                    <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                  </div>
                </div>

                <textarea
                  name="message"
                  placeholder="Mensaje"
                  autocomplete="off"
                  class="input-field"
                ></textarea>

                <button type="submit" class="btn btn-secondary">
                  <span class="text text-1">Reservar</span>

                  <span class="text text-2" aria-hidden="true">Reservar</span>
                </button>
              </form>

              <div
                class="form-right text-center"
                style="background-image: url('./assets/images/form-pattern.png')"
              >
                <h2 class="headline-1 text-center">Contáctanos</h2>

                <p class="contact-label">Número para pedidos</p>

                <a
                  href="tel:+56989953909"
                  class="body-1 contact-number hover-underline"
                  >+56 9 89953909</a
                >

                <div class="separator"></div>

                <p class="contact-label">Ubicación</p>

                <address class="body-4">
                  Restaurant Sabor Peruano, Copiapó <br />
                  Chacabuco #151, CL
                </address>

                <p class="contact-label">Horario de atención</p>

                <p class="body-4">
                  Lunes a Sábados <br />
                  12:00 pm - 17:00pm
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- 
        - #FEATURES
      -->

        <section class="section features text-center" aria-label="features">
          <div class="container">
            <p class="section-subtitle label-2">¿Por qué preferirnos?</p>

            <h2 class="headline-1 section-title">Nuestras virtudes</h2>

            <ul class="grid-list">
              <li class="feature-item">
                <div class="feature-card">
                  <div class="card-icon">
                    <img
                      src="{% static './assets/images/features-icon-1.png' %}"
                      width="100"
                      height="80"
                      loading="lazy"
                      alt="icon"
                    />
                  </div>

                  <h3 class="title-2 card-title">Ingredientes frescos</h3>

                  <p class="label-1 card-text">
                    Ingredientes elegidos cuidadosamente de la mejor calidad.
                  </p>
                </div>
              </li>

              <li class="feature-item">
                <div class="feature-card">
                  <div class="card-icon">
                    <img
                      src="{% static './assets/images/features-icon-2.png' %}"
                      width="100"
                      height="80"
                      loading="lazy"
                      alt="icon"
                    />
                  </div>

                  <h3 class="title-2 card-title">Ambiente agradable</h3>

                  <p class="label-1 card-text">
                    Disfruta un ambiente tranquilo con buena música del Perú y
                    una atención exclusiva.
                  </p>
                </div>
              </li>

              <li class="feature-item">
                <div class="feature-card">
                  <div class="card-icon">
                    <img
                      src="{% static './assets/images/features-icon-3.png' %}"
                      width="100"
                      height="80"
                      loading="lazy"
                      alt="icon"
                    />
                  </div>

                  <h3 class="title-2 card-title">Chefs experimentados</h3>

                  <p class="label-1 card-text">
                    Nuestros Chefs son los mejores de la región, conocidos por
                    su rica sazón.
                  </p>
                </div>
              </li>

              <li class="feature-item">
                <div class="feature-card">
                  <div class="card-icon">
                    <img
                      src="{% static './assets/images/features-icon-4.png' %}"
                      width="100"
                      height="80"
                      loading="lazy"
                      alt="icon"
                    />
                  </div>

                  <h3 class="title-2 card-title">Eventos y fiestas</h3>

                  <p class="label-1 card-text">
                    Ven el día de tu cumpleaños y te daremos un regalo especial.
                  </p>
                </div>
              </li>
            </ul>

            <img
              src="{% static './assets/images/shape-7.png' %}"
              width="208"
              height="178"
              loading="lazy"
              alt="shape"
              class="shape shape-1"
            />

            <img
              src="{% static './assets/images/shape-8.png' %}"
              width="120"
              height="115"
              loading="lazy"
              alt="shape"
              class="shape shape-2"
            />
          </div>
        </section>

        <!-- 
        - #EVENT
      -->

        <!-- <section class="section event bg-black-10" aria-label="event">
        <div class="container">

          <p class="section-subtitle label-2 text-center">Recent Updates</p>

          <h2 class="section-title headline-1 text-center">Upcoming Event</h2>

          <ul class="grid-list">

            <li>
              <div class="event-card has-before hover:shine">

                <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                  <img src="./assets/images/event-1.jpg" width="350" height="450" loading="lazy"
                    alt="Flavour so good you’ll try to eat with your eyes." class="img-cover">

                  <time class="publish-date label-2" datetime="2022-09-15">15/09/2022</time>
                </div>

                <div class="card-content">
                  <p class="card-subtitle label-2 text-center">Food, Flavour</p>

                  <h3 class="card-title title-2 text-center">
                    Flavour so good you’ll try to eat with your eyes.
                  </h3>
                </div>

              </div>
            </li>

            <li>
              <div class="event-card has-before hover:shine">

                <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                  <img src="./assets/images/event-2.jpg" width="350" height="450" loading="lazy"
                    alt="Flavour so good you’ll try to eat with your eyes." class="img-cover">

                  <time class="publish-date label-2" datetime="2022-09-08">08/09/2022</time>
                </div>

                <div class="card-content">
                  <p class="card-subtitle label-2 text-center">Healthy Food</p>

                  <h3 class="card-title title-2 text-center">
                    Flavour so good you’ll try to eat with your eyes.
                  </h3>
                </div>

              </div>
            </li>

            <li>
              <div class="event-card has-before hover:shine">

                <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                  <img src="./assets/images/event-3.jpg" width="350" height="450" loading="lazy"
                    alt="Flavour so good you’ll try to eat with your eyes." class="img-cover">

                  <time class="publish-date label-2" datetime="2022-09-03">03/09/2022</time>
                </div>

                <div class="card-content">
                  <p class="card-subtitle label-2 text-center">Recipie</p>

                  <h3 class="card-title title-2 text-center">
                    Flavour so good you’ll try to eat with your eyes.
                  </h3>
                </div>

              </div>
            </li>

          </ul>

          <a href="#" class="btn btn-primary">
            <span class="text text-1">View Our Blog</span>

            <span class="text text-2" aria-hidden="true">View Our Blog</span>
          </a>

        </div>
      </section>

    </article>
  </main>
 -->

        <!-- 
    - #FOOTER
  -->

        <footer
          class="footer section has-bg-image text-center"
          style="background-image: url('./assets/images/footer-bg.jpg')"
        >
          <div class="container">
            <div class="footer-top grid-list">
              <div class="footer-brand has-before has-after">
                <a href="#" class="logo">
                  <img
                    src="{% static './assets/images/222.png' %}"
                    width="300"
                    height="90"
                    loading="lazy"
                    alt="grilli home"
                  />
                </a>

                <address class="body-4">
                  Restaurant Sabor Peruano, Copiapó, Chacabuco #151, CL
                </address>

                <a
                  href="mailto:saborperuano@restaurant.com"
                  class="body-4 contact-link"
                  >saborperuano@restaurant.com</a
                >

                <a href="tel:+56989953909" class="body-4 contact-link"
                  >Contacto : +56 9 89953909</a
                >

                <p class="body-4">Atención desde : 12:00 pm - 17:00 pm</p>

                <div class="wrapper">
                  <div class="separator"></div>
                  <div class="separator"></div>
                  <div class="separator"></div>
                </div>

                <p class="title-1">Recibe noticias &amp; Ofertas</p>

                <p class="label-1">
                  Suscríbete &amp; Obtiene
                  <span class="span">10% descuento.</span>
                </p>

                <form action="" class="input-wrapper">
                  {% csrf_token %}
                  <div class="icon-wrapper">
                    <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>

                    <input
                      type="email"
                      name="email_address"
                      placeholder="Tu correo"
                      autocomplete="off"
                      class="input-field"
                    />
                  </div>

                  <button type="submit" class="btn btn-secondary">
                    <span class="text text-1">Suscrbirse</span>

                    <span class="text text-2" aria-hidden="true"
                      >Suscribirse</span
                    >
                  </button>
                </form>
              </div>

              <ul class="footer-list">
                <li>
                  <a href="#" class="label-2 footer-link hover-underline"
                    >Inicio</a
                  >
                </li>

                <li>
                  <a href="#menu" class="label-2 footer-link hover-underline"
                    >Menú</a
                  >
                </li>

                <li>
                  <a href="#about" class="label-2 footer-link hover-underline"
                    >Sobre nosotros</a
                  >
                </li>

                <li>
                  <a
                    href="#reservation"
                    class="label-2 footer-link hover-underline"
                    >Contacto</a
                  >
                </li>
                <a
                href="/login"
                  class="label-2 footer-link hover-underline"
                  >Ingreso Personal</a
                >
              </li>
              </ul>

              <ul class="footer-list">
                <li>
                  <a href="#" class="label-2 footer-link hover-underline"
                    >Facebook</a
                  >
                </li>

                <li>
                  <a href="#" class="label-2 footer-link hover-underline"
                    >Instagram</a
                  >
                </li>

                <li>
                  <a href="#" class="label-2 footer-link hover-underline"
                    >Ubicación</a
                  >
                </li>
              </ul>
            </div>

            <div class="footer-bottom">
              <p class="copyright">
                © 2023 Sabor Peruano. Todos los derechos reservados | by
                <a
                  href="https://www.instagram.com/minlarys/"
                  target="_blank"
                  class="link"
                  >Minlarys</a
                >
              </p>
            </div>
          </div>
        </footer>

        <!-- 
    - #BACK TO TOP
  -->

        <a
          href="#top"
          class="back-top-btn active"
          aria-label="back to top"
          data-back-top-btn=""
        >
          <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
        </a>

        <!-- 
    - custom js link
  -->
        <script src="{% static './assets/js/script.js' %}"></script>

        <!-- 
    - ionicon link
  -->
        <script
          type="module"
          src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
          nomodule=""
          src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>
      </article>
    </main>
  </body>
</html>
